header.header 
  nav.nav 
    ul.header__list 
      li.header__list-item
        a.header__list-link(href="/") Home
      li.header__list-item
        a.header__list-link(href="/profile") Profile
      li.header__list-item
        a.header__list-link(href="/cart") Cart